h1{
    font-family: 'Georgia', serif;/*Use serif font for classic look */
    font-size: 2em;/*Increase font size for better readability */
    text-align: center;/*Center align the heading*/
}
.navbar{
        display: flex;
        align-items: center;
        background-color: rgba(31, 35, 41, 0.8);/*Add a semi-transparent background to the navigation bar */
        padding: 1em;/*Add padding for better spacing */
        border-radius: 16px;/*Round the corners of the navigation bar */
        margin-bottom: 10px;/*Add space below the navigation bar */
}
.content h2{
        font-size: 2em;/*Increase font size for better readability */
        color: #e5f7f7; /*Set text color for subheadings */
        text-align: center;/*center align the subheadings */
}
* {
    margin: 15px;
    pad: 20px;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(230, 78, 8);
    background-image: url(https://images.unsplash.com/photo-1590523277543-a94d2e4eb00b?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;
}
h1 {
    font-size: larger;
    color: rgb(51, 48, 247);
    padding-bottom: 20px;
}
h2 {
color: rgb(5, 226, 230);
    font-size: large;
    padding: 10px;
}
.nav-links a {
    color: rgb(112, 41, 3);
    border-radius: 12px;
    display: flex;
    text-align: center;
}

.booking-form {
    position: absolute;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
}
.booking-form h1 {
    text-align: center;
    display: block;
    margin-bottom: auto;
    font-size: larger;
    color: rgb(4, 224, 216);
    border-radius: 5px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20px;
}
.nav-links{
    justify-content: space-between;
    text-align: center;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 12px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-container-a{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}